<footer class="footer">
    <div class="footer-content">
        <div>
            <a href="/" class="footer-logo">Indika Gadol</a>
            <p>Providing high-quality bricks for your dream home. Strength and durability you can trust.</p>
        </div>
        <div>
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div>
            <h4>Contact Info</h4>
            <ul>
                <li><i class="fas fa-phone"></i> +94 77 123 4567</li>
                <li><i class="fas fa-envelope"></i> info@indikagadol.lk</li>
                <li><i class="fas fa-map-marker-alt"></i> No. 123, Temple Road, Anuradhapura</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 Indika Gadol. All Rights Reserved.</p>
    </div>
</footer>
</body>

</html>